services:

 client:

   build:

     context: .

     dockerfile: Dockerfile

   ports:

     - "3000:3000"

   volumes:

     - ./client:/app

   stdin_open: true

   tty: true
 server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
      - "5555:5555"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    depends_on:
      - db
 db:
    image: postgres:14
    container_name: postgres_database
    ports:
      - 5432:5432
    volumes:
      - db-store:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
volumes:
  db-store: